
<section class="small-header" style="background-image: url('{{siteUrl}}{{ entry.registerBackgroundImage.one().getUrl() }}');">
	<div class="inner">
		<div class="small-header-title">
			<h1>{{ entry.title }}</h1>
		</div>
	</div>
</section>
		

<section>
	<iframe src="{{ entry.registerLinkUrl }}" style="width: 100vw; height: 100vh;" frameborder="0" allowfullscreen>
    </iframe>
</section>