.course-results{
	.accordion-panel{
		font-weight: 400;
		border-bottom: 1px solid #dce0e0;
		color: #484848;

		.accordion{
			border-bottom: 0;
		}

		.panel{
			padding: 40px 0;

			.sessionDescription {
				border-top: 1px solid #753797;
				margin: 15px 0 0;
				padding: 15px 0 0;

				div, p, span {
					font-family: 'Roboto',sans-serif !important;
					font-size: 14px !important;
				}

				ul, li{
					margin-left: 11px !important;
				}

				div{
					div{
						margin-left: 0 !important;
					}
				}
			}

		}
	}
}