.intro-block{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px 90px;

    h2{
      color: $color-pink;
      font-size: 36px;
      text-transform: none;
      line-height: 1.5em;
      font-weight: 600;
    }

    .intro-description{
      p{
        margin-top: 10px;
        font-weight: 500;
        font-size: 15px;
        color: #484848;
      }
    }
}
//called in media-queries.scss
@mixin intro-block--sm() {
    .intro-block{
        padding: 0;

        .intro-title{
            h2{
                font-size: 20px;
            }
        }
    }
}